SourceCode1/CPU_Software/SoftwareSource_6.1.8.0/src/RIA/XTS/SampleData/SampleChart/SampleChart.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleChart" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleChart" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleChart" type="tns:SampleChart" />
  <xs:complexType name="SampleChart">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
    <xs:attribute name="Property1" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:FormatParameters="2" name="Property1" type="xs:double" />
    <xs:attribute blend:FormatParameters="2" name="Property2" type="xs:double" />
  </xs:complexType>
</xs:schema>